:root {
    --white: #fff;
    --dark: rgb(52, 58, 64);
    --gray1: #454d55;
    --gray2: #95999c;
    --green: rgb(2, 170, 77);
    --black: #000;
    --red: #dc3545;
}

@media (max-width: 1080px) {
    html {
        font-size: 80%;
    }
}

@media (max-width: 800px) {
    html {
        font-size: 60%;
    }
}

@media (max-width: 500px) {
    html {
        font-size: 40%;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--dark);
}

body,
input,
textarea,
button {
    font: 500 1rem sans-serif;
    color: var(--white);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    font-family: sans-serif;
    color: var(--white);
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

button {
    cursor: pointer;
    border: 0;
    padding: 0.5rem;
    margin: 0;
    background-color: var(--green);
}